* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 60px auto 60px;
    grid-template-areas: "hd hd"
        "saidebar main"
        "footer footer";
}

header,
aside,
main,
footer {
    padding: 16px;
}



header {
    background: #521751;
    grid-area: hd;
}

.page-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

/*list*/
.where {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

footer aside {
    background: #fa923f;
    grid-area: sidebar;
}


.h1 {
    font: bold;
}

footer {
    background: black;
    grid-area: footer;
}